{% extends "global/base.html" %}

    {% block content %} <!-- bloco do conteudo geral do home -->

        {% include "recipes/partials/messages.html" %}

        <div class="main-content main-content-list container"> <!-- Container principal para mostrar os cards -->
            {% for recipe in recipes %} <!-- Para cada receita da consulta de views mostre as receitas -->
                {% include 'recipes/partials/recipe.html' %} <!-- Renderização das receitas de acordo com a lista -->
            {% empty %}  <!--se for vazio irá mostrar a mensagem do H1 abaixo-->
                <div class="center m-y">
                    <h1>No recipes found here</h1>
                </div>
            {% endfor %}
        </div>

        {% include "recipes/partials/pagination.html" with page_obj=recipes %} <!-- Paginação -->
    {% endblock content %}